.hero-button {
    margin-top: 36px;
    display: inline-block;
    width: fit-content;
    background-color: var(--primary);
    color: var(--white);
    padding: 16px 30px;
    border-radius: 999px;
    font-weight: 700;
    letter-spacing: .01em;
    text-decoration: none;
}

.hero-button:hover {
    opacity: 0.9;
}
